[submodule "qwebdavlib"]
	path = 3rdparty/qwebdavlib
	url = https://github.com/beidl/qwebdavlib
[submodule "nemo-qml-plugin-notifications"]
	path = 3rdparty/nemo-qml-plugin-notifications
	url = https://github.com/nemomobile/nemo-qml-plugin-notifications
[submodule "sailfish-ui-set"]
	path = 3rdparty/sailfish-ui-set
	url = https://github.com/beidl/sailfish-ui-set
[submodule "3rdparty/qtdropbox2"]
	path = 3rdparty/qtdropbox2
	url = https://github.com/beidl/QtDropbox2
[submodule "src/app/icons/breeze-icons"]
	path = src/app/icons/breeze-icons
	url = https://github.com/KDE/breeze-icons
