[Unit]
Description=ownCloud photo backup
After=lipstick.service

[Service]
Type=simple
ExecStart=/usr/bin/harbour-owncloud-daemon
Restart=on-failure

[Install]
WantedBy=lipstick.service
