[Unit]
Description=ownCloud photo backup
After=lipstick.service

[Service]
Type=simple
ExecStart=/usr/bin/harbour-owncloud-daemon
Restart=always
CPUAccounting=true
CPUQuota=10%

[Install]
WantedBy=lipstick.service
