[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-owncloud
Exec=harbour-owncloud
Name=QhostCloud
# translation example:
# your app name in German locale (de)
Name[de]=QhostCloud
Name[sl]=QhostCloud
