[Desktop Entry]
Type=Application
Icon=usr/share/icons/hicolor/128x128/apps/harbour-owncloud.png
Exec=env LD_LIBRARY_PATH=usr/lib usr/bin/harbour-owncloud
Name=GhostCloud
X-Ubuntu-Touch=true
